<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>First mvc project</title>
</head>
<body>
    <p th:text="'Hello, ' + ${name}} + '!'"/>
</body>
</html>